* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}
html, body {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* Style for Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;
    width: 100%;
}
/* style for start menu */
.start-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    top: 0;
    right: 100%;
    height: 80%;
    width: 100%;

    transition: right 500ms;
}
.start-menu h1, .start-menu p {
    text-align: center;
}

/* Style for questions */
.page-content {
    position: relative;

    height: 80%;
    width: 100%;
}
.question {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;

    padding: 10px 50px;

    transition: right 500ms;
}
.option-button-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.option-button {
    margin: 10px 25px 0 25px;
    padding: 5px;
}

/* Style for End Menu */
.end-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;

    top: 0;
    right: 100%;
    width: 100%;

    transition: right 500ms;
}
.end-menu h1 {
    text-align: center;
}
.end-menu form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Style score display */
.score-display {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    right: 100%;
    width: 100%;

    transition: right 500ms;
}
.score-display-grid {
    display: grid;
    width: 60%;
}
.score-display-item {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 1fr;

    text-align: center;
}

/* Style for footer */
footer {
    height: 10%;
    width: 100%;
}

/* Style for waiting, present, complete */
.waiting {
    right: 100%;
}
.present {
    right: 0;
}
.completed {
    right: -100%;

}

